@import url('../../../common/config.less');
// .assemblysMachineTips{
    
  
    .assemblys_tips_n{
        position: fixed;
        top: -51px ;
        z-index: 999;
        max-width: 37%;
        img{
            display: block;
            width: 70px;
        }
        .assemblys_msg{
            position: absolute;
            width: 100px;
            border-radius: 1rem;
            border: .11rem solid #72c4ff;
            font-size: @fontSize2;
            top: 90%;
            overflow-x: hidden;
            overflow-y: scroll;
            box-shadow: 0px .2rem 1rem rgba(114,196,255,0.4);
            background-color: #D8F2FF;
            color: #065a85;
            max-height: 4rem;
            padding: 4% 3%;
            min-height: 1rem;
           
           
        }
    }
// }